html,
body{
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lt_container{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    /* background: pink; */
    height: 100%;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 55px;
    position: relative;
}

.lt_header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #069;
    padding: 0 45px;
}

.lt_header .icon_left,
.lt_header .icon_right{
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 0;
    color: #fff;
}
.lt_header .icon_left{
    left: 0;
}

.lt_header .icon_right{
    right:0;
}

.lt_header h3{
    height: 45px;
    margin: 0;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.lt_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #069;
}

.lt_footer li{
    float: left;
    width: 25%;
}

.lt_footer li a{
    display: block;
    text-align: center;
    padding-top: 8px;
    color: #fff;
}

.lt_footer li a.current {
    color: orange;
}

.lt_footer li p{
    color: #fff;
    margin: 0;
}

.lt_footer li a.current p{
    color: orange;    
}

.lt_main{
    width: 100%;
    height: 100%;
    /* background: skyblue; */
    position: relative;
}