.lt_sort{
    height: 30px;
    line-height: 30px;
    background: #EEE;
}

.lt_sort a{
    width: 25%;
    float: left;
    font-size: 12px;
    text-align: center;
    color: #666;
}

.lt_sort a i{
    margin-left: 3px;
}

.lt_sort a.current{
    color: orange;
}